<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/roomscript.js" ></script>
    <style>
        #videos{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;
            height: 80vh;
            overflow: hidden;
            overflow-y: scroll;
        }
        body{
            background-color:azure;
            margin: 0 0 55px 0;
        }
        video{
            height: 300px;
            width: 400px;
            object-fit: cover;
            padding: 8px;
        }
        .nav{
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 60px;
            display: flex;
            justify-content: center;
        }
        .upper{
            display: flex;
            padding:0;
        }
        #messages{
            height:60vh;
            overflow: hidden;
            overflow-y: scroll;
            list-style-type: none;
            padding: 1px;
        }
        form{
            margin: auto;
        }
        .chatbox{
            width:25vw;
            background-color: white;
        }
        .btn{
            /* padding: 0 50px 0 50px; */
            margin: 0 5px 0 5px;
        }
    </style>
</head>
<body>
        <h1 class="container display-6 mt-4 mb-4">Teams (clone)</h1>
        <div class="upper">
            
            <div id="videos">

            </div>
            <div class="chatbox">
                <h2 class="display-6 chatheader">Chat</h2>
                <ul id="messages"></ul>
                <form id="textbox" action="">
                    <input class="form-control" id="input" autocomplete="off" placeholder="text-message"/>
                    <button class="form-control" >Send</button>
                </form>
            </div>
            
        </div>
    <div class="container">
        
    </div>
    
    
    <div class="nav">
        <button class="btn btn-dark mb-3" id="micbtn" onclick="toggleMic()">Mute</button>
        <button class="btn btn-danger mb-3" onclick="window.location.href='/home'">End Call</button>
        <button class="btn btn-dark mb-3" id="cambtn" onclick="toggleCam()">Turn off camera</button>
    </div>
    
    
</body>
</html>